#%RAML 1.0
---
title: Dankdroid API
baseUri: https://api.dankdroid.xyz/{version}
version: v1

types:
  error:
    type: object
    properties: 
      status:
        type: number
        required: true
        description: Response status code
      message:
        type: string
        required: false
        description: Error message
      requestUrl:
        type: string
        required: true
        description: The request url
      timestamp:
        type: datetime
        required: true
        description: The exact time the error occurred
  generatedImage:
    type: file
    fileTypes: ['image/png', 'image/jpeg']

/images:
  /generator/{category}:
    get:
      description: Retrieve a generated image
      queryParameters:
        type:
          displayName:  Image Type
          type:         string
          description:  Response Image Type (jpeg, jpg or png)
          example:      png
          required:     false
          default:      png
        userOneId:
          displayName:  User One ID
          type:         string
          description:  Discord ID of the first user for image generation
          example:      634723825048748032
          required:     true
        userTwoId:
          displayName:  User Two ID
          type:         string
          description:  Discord ID of the second user for image generation
          example:      271364449783382016
          required:     true
      responses:
        200:
          body:
            image/png:
              type: generatedImage
        404:
          body:
            application/json:
              type: error
              example:
                status: 404
                message: "NOT_FOUND"
                requestUrl: "/v1/images/generator/not-existing-category"
                timestamp: "2021-05-11T15:40:01.927Z"